html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button:focus {
  outline: 0 !important;
}

@font-face {
  font-family: "graphik_arabicmedium";
  src: url("../fonts/graphikarabic-medium-webfont.woff2") format("woff2"),
    url("../fonts/graphikarabic-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "graphik_arabicsemibold";
  src: url("../fonts/graphikarabic-semibold-webfont.woff2") format("woff2"),
    url("../fonts/graphikarabic-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kermes3regular";
  src: url("../fonts/kermes3-regular-webfont.woff2") format("woff2"),
    url("../fonts/kermes3-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kermes3semibold";
  src: url("../fonts/kermes3-semibold-webfont.woff2") format("woff2"),
    url("../fonts/kermes3-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.main-slide-content {
  position: absolute;
  bottom: 140px;
  right: 0;
  left: 0;
  text-align: center;
}
.main-slide-content h2 {
  color: #fff;
  font-size: 90px;
  margin-bottom: 20px;
  font-family: "kermes3regular";
}

.main-slide-content p {
  color: #fff;
  font-size: 40px;
  font-family: "kermes3regular";
}
.dark-bg {
  background: #5f0d2a;
}

.backto-content-table {
  position: absolute;
  height: 40px;
  width: 150px;
  top: 80px;
  left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.backto-content-table div {
  width: 150px;
  height: 4px;
  background-color: #fff;
}

.screen-1-content {
  position: absolute;
  max-width: 2400px;
  width: 2400px;
  left: 130px;
  top: 500px;
}
.content-box a {
  color: #fff !important;
  text-decoration: none !important;
}
.content-box h2 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 0px;
  font-family: "kermes3semibold";
}
.content-box p {
  color: #e39b68;
  font-size: 40px;
  line-height: 50px;
  margin-right: 120px;
  margin-bottom: 0;
  margin-top: 40px;
  font-family: "kermes3regular";
}

.screen-1-content .col {
  border-right: 3px solid #e39b68;
  margin-right: 60px;
}
.screen-1-content .col:last-child {
  border-right: 0px;
}

.content-box ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #e39b68;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.content-box ul {
  margin-top: 100px;
  margin-right: 60px;
}
.content-box ul li p {
  margin: 0;
  font-size: 34px;
}
.content-box ul li a {
  color: #e39b68 !important;
  font-size: 34px;
  font-family: "kermes3regular";
  text-transform: uppercase;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
/* .slick-slide img {
  display: block;
} */
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-slide {
  height: 1824px;
}

/* .slider-item img {
  height: 1824px;
} */
.slider-item {
  height: 1824px;
}
.main-logo img {
  position: absolute;
  width: 500px !important;
  right: 0;
  left: 0;
  margin: 0 auto;
  filter: brightness(0) invert(1);
  top: 100px;
  height: auto !important;
}

.slick-prev {
  position: absolute;
  top: 50%;
  left: 30px;
  background: transparent;
  border: 0;
  text-indent: -9999999px;
  background-image: url("../images/left.svg");
  background-repeat: no-repeat;
  background-size: 80px;
  width: 80px;
  height: 80px;
}

.slick-next {
  position: absolute;
  top: 50%;
  right: 30px;
  background: transparent;
  border: 0;
  text-indent: -9999999px;
  background-image: url("../images/right.svg");
  background-repeat: no-repeat;
  background-size: 80px;
  width: 80px;
  height: 80px;
}

/* .slider-item img {
  height: 1840px;
  width: 2736px;
  object-fit: cover;
} */
.light-slide .backto-content-table div {
  background-color: #C17250;
}
.btn-box {
  position: absolute;
  z-index: 9;
  bottom: 100px;
  right: 170px;
}
.btn-box a {
  color: #fff;
  background: #C17250;
  padding: 10px 30px 5px 30px;
  font-size: 34px;
  text-transform: uppercase;
  font-family: "graphik_arabicsemibold";
}
.btn-box a:hover {
  text-decoration: none;
  color: #5f0d2a;
  background-color: #eed6c2;
}

.btn-box.ctm-dark a {
  background-color: #55142D !important;
}

.btn-box.ctm-dark a:hover {
  background-color: #C17250 !important;
  color: #fff !important;
}
.side-bar {
  position: absolute;
  top: 370px;
  left: 120px;
}
.side-bar ul li a {
  color: #e3bb99;
  font-size: 26px;
  text-transform: uppercase;
  font-family: "graphik_arabicsemibold";
}
.side-bar ul li {
  border-bottom: 1px solid #d16e4a;
  margin: 5px 0px;
  padding: 5px 0;
}
.side-bar ul li img {
  width: 25px;
  margin-top: -12px;
}
.side-bar ul li.active img{
  filter: brightness(0) invert(1);
}
.side-bar ul li.active {
  padding-left: 0;
  background-image: none;
}
.side-bar ul li.active a{
  color: #fff;
}
.side-bar ul li:first-child {
  border-top: 1px solid #e3bb99;
}
.side-bar.dark-sidebar ul li.active a {
  color: #5f0d2a;
}
.side-bar.dark-sidebar ul li a {
  color: #d16e4a;
}
.side-bar.dark-sidebar ul li.active img{
  filter: inherit;
}

.btn-box.ctm-btns {
  width: 1400px;
}

.btn-box.ctm-btns a {
  width: 320px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
}
.ctm-btns a.active {
  background: #fff;
  color: #5f0d2a;
}

.btn-box.wadi-hanifah a {
  width: 650px;
}
.btn-box.districts {
  width: 1260px;
  right: 0;
}

.btn-box.districts a {
  background-color: #5f0d2a;
  width: 600px;
  font-size: 28px;
}
.btn-box.districts a.active {
  background: #fff;
}
.btn-box.asset-classes {
  right: 80px;
}
.btn-box.asset-classes a {
  background-color: #5f0d2a;
}
.btn-box.asset-classes a.active {
  background: #fff;
}
.btn-box.diriyah-2 a {
  background: #d16e4a;
}
.why-diriyah ul li {
  border-bottom: 1px solid #e3bb99;
}





.fade-in {
  animation: fadeIn 0.5s forwards;
}
.fade-out {
  animation: fadeOut 0.5s forwards;
}
.slide-left {
  animation: slideLeft 0.5s forwards;
}
.slide-right {
  animation: slideRight 0.5s forwards;
}
.slide-up {
  animation: slideUp 0.5s forwards;
}
.slide-down {
  animation: slideDown 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.for-led{
  display: none !important;
}
.for-tab{
  display: block !important;
}

@media screen and (min-width: 3840px) {
  .btn-box.districts a {
      width: 660px;
      font-size: 32px;
  }
  .btn-box.districts {
      width: 1370px;
      right: 170px;
  }

  .side-bar ul li {
      margin: 10px 0px;
      padding: 10px 0;
  }
  .side-bar ul li a {
      font-size: 30px;
  }
  .side-bar {
      top: 340px;
      left: 170px;
  }
  .for-tab{
    display: none !important;
  }
  .for-led{
    display: block !important;
  }
  /* .slider-item img {
    height: auto;
    width: 100%;
  } */
  .slider-item {
    height: 2160px;
  }
  .screen-1-content {
      max-width: 3200px;
      width: 3200px;
      left: 170px;
  }
  .content-box h2 {
    font-size: 80px;
  }
  .content-box p {
    font-size: 50px;
    line-height: 70px;
    margin-top: 60px;
  }
  .content-box ul li a {
    font-size: 45px;
  }
  .content-box ul li p {
    font-size: 45px;
  }
  .backto-content-table {
      left: 170px;
  }
}
