* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "GraphikArabic-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("GraphikArabic-SemiBold"), url("../fonts/GraphikArabic/GraphikArabic-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "GraphikArabic-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("GraphikArabic-SemiBold"), url("../fonts/GraphikArabic/woff/GraphikArabic-Semibold.woff") format("woff");
}
@font-face {
  font-family: "Kermes3-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Kermes3-SemiBold"), url("../fonts/kermes3/Kermes3-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Kermes3-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Kermes3-SemiBold"), url("../fonts/kermes3/woff/Kermes3-SemiBold.woff") format("woff");
}
html {
  scroll-behavior: smooth;

}
body,
html {
  font-family: "GraphikArabic-SemiBold";
}
body{
  background-color: rgba(235, 206, 166, 0.5);
}

img {
  max-width: 100%;
}
#dg_first_load_screen, #dg_bf_screen, #ml_lights_screen, #dg_sm_screen, #dg_afrs_screen, #header, #footer{
  display: none;
}
/*********************************************************************************************/
.load_log_col.logowrapanim{
  position: relative;
  animation-name: logowraptransition;
  animation-duration: 4s;
}
.load_log_col .logo_diriyah{
  left:40%; 
  top:39%;
}
.load_log_col .logo_diriyah.startanim{
  position: relative;
  animation-name: logotransition;
  animation-duration: 4s;
  /* animation-delay: 0.2s; */
  left:0%; 
  top:0%;
}
/* .dg_rs_row{
  left: 100%; 
  top: 0%;
} */
.dg_rs_row.firstsecanim{
  position: relative;
  animation-name: firstsec;
  animation-duration: 4s;
}

@keyframes logotransition {
  0%   {
    left:40%; 
    top:39%;
    transform: scale(1.2);
    height: 100vh;
  }
  50%  {
    left:40%; 
    top:0%;
    transform: scale(1);
    height: 0vh;
  }
  100% {
    left:0%; 
    top:0%;
    transform: scale(1);
    height: 0vh;
  }
}
@keyframes logowraptransition {
  0%   {
    height: 100vh;
  }
  50%  {
    height: 0vh;
  }
  100% {
    height: 0vh;
  }
}
@keyframes firstsec {
  0%   {
    left: 100%; 
    top: 100px;
  }
  50%  {
    left: 100%; 
    top: 100px;
  }
  100% {
    left: 0%; 
    top: 100px;
  }
}


/********************************************************************************************/
#main_video{
  z-index: 9999;
}
.dg_rs_row{
  /* display: none; */
}
.dg_rs_screen{
  padding-top: 120px;
}
#dg_rs_screen .logo_diriyah img{
  max-width: 475px;
}
#main_video_btn{
  z-index: 99999;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* font-size: 37px;
  color: #ffffff;
  text-decoration: none; */
}
.dg_ft_nav_item{
  position: relative;
}
.dg_ft_nav_item.active::after{
  content: '';
  background-color: #c87e59;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -20px;
  left: 46%;
  border-radius: 100%;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 100% !important;
  padding-left: 90px;
  padding-right: 90px;
}
.head_separator_col{
  display: flex;
    justify-content: center;
    align-items: center;
}
.head_separator{
  background-color: #003741;
  height: 4.3628px;
  width: 100%;
}
.nav-link{
  font-size: 48px;
  color: #C87E59;
  background-color: rgb(204 102 102 / 20%);
  padding: 4px 3px !important;
  margin: 0 5px;
}
.header_inner{
  padding: 120px 0 30px;
}
.dg_ft_nav_list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 auto !important;
  max-width: 1700px;
}
.dg_ft_cont{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  z-index: 999;
}
.dg_ft_nav_item{
  text-align: center;
  min-width: 115px;
}
.dg_ft_nav_item a{
  text-decoration: none !important;
}
.dg_ft_nav_item .dg_ft_nav_link h3{
  color: #003741;
  font-size: 38.6px;
  background-color: rgb(204 102 102 / 20%);
  padding: 4px 3px !important;
  margin: 0 5px;
}
.dg_ft_nav_img{
  margin-bottom: 40px;
}
.dg_ft_nav_img img{
  max-width: 53px;
}
.dg_ft_nav_img_ar.dg_ft_nav_img img{
  max-width: 32px;
}
.dg_vw_screen{
  /*display: none;*/
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
}
.dg_vw_cont, .dg_vw_row, .dg_vw_col{
 height: 100vh;
}
.container-fluid.dg_vw_cont{
  padding: 0 !important;
}
.dg_vw_screen{
  overflow: hidden;
}
.navbar-expand-sm .navbar-collapse.nav_cp_dp {
  display: block !important;
}
.navbar-expand-sm .navbar-collapse.nav_cp_dp .navbar-nav{
  justify-content: space-between;
}

/*/////////////////*/
.row.diri_header_row{
  flex-wrap: nowrap !important;
    max-width: 100% !important;
}
.logo_col_1{
  width: 26%;
}
.head_separator_col{
  width: 44%;
  padding: 0 70px;
}
.nav_col_1{
  width: 31%;
}

/*///////////////////////VIDEO SCREEN/////////////////////*/
.dg_wvideo_screen header, .dg_wvideo_screen .dg_ft_cont{
  display: none;
}



/*//////////////////////ROOM SELECTION SCREEN///////////////////////*/
.dg_room_selection_screen .dg_ft_cont{
  display: none;
}
.dg_rs_screen a{
  text-decoration: none;
}
.dg_rs_wrap{
  text-align: center;
}
.dg_rs_wrap img{
  max-width: 695px;
  height: 1120px;
  object-fit: cover;
  margin-bottom: 65px;
}
.dg_rs_wrap h3{
  font-size: 70px;
  color: #C87E59;
}
.dg_rs_col{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dg_rs_row{
  max-width: 1670px;
    margin: 100px auto;
}



/*/////////////////////////////AFTER ROOM SELECTION SCREEN///////////////////////////////*/
.dg_afrs_screen{
  height: calc(100vh - 250px);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dg_afrs_screen h3{
  font-size: 70px;
  color: #C87E59;
}







/*////////////////////////////////MODEL SHOW SCREEN///////////////////////////////////*/
.dg_sm_screen{
  padding-bottom: 143px;
}
.breadcrumbs{
  color: #003741;
  font-size: 70px;
  margin-top: 78px;
  margin-bottom: 50px;
}
.sm_video_track_wrap{
  margin-top: 50px;
  position: relative;
}
.sm_video_unplayed_track{
  width: 100%;
  display: block;
  height: 4.3628px;
  background-color: #C87E59;
  border-radius: 50px;
}
.sm_video_played_track{
  width: 75%;
  display: block;
  height: 4.3628px;
  background-color: #003741;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.sm_video_timers{
  position: relative;
  margin-top: 50px;
  font-size: 54px;
}
span.sm_video_end_timer{
  color: #C87E59;
  float: right;
}
span.sm_video_start_timer{
  color: #003741;
}
.sm_vc_list img{
  width: 36.5px;
  height: 36.5px;
}
.sm_video_controls{
  margin-top: 163px;
  margin-bottom: 143px;
}
.sm_vc_list{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}











/*////////////////////////////////MODEL LIGHTS SCREEN/////////////////////////////////*/
.ml_lights_screen{
  /* min-height: 90vh; */
  margin-bottom: 210px;
}
.ml_lights_screen .breadcrumbs{
  margin-top: 50px;
}
.ml_content_col{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.ml_content_container{
  display: flex;
  justify-content: space-between;
}
.ml_image_wrap{
  text-align: center;
  z-index: 2;
}
.ml_list_wrap{
  z-index: 1;
  width: 350px;
  margin-left: -350px;
  transition: all 0.5s;
}
.ml_list_wrap.active{
  margin-left: 0px;
  transition: all 0.5s;
}
.ml_image_wrap h3{
  font-size: 70px;
  color: #C87E59;
}
.ml_image_wrap img{
  margin-bottom: 50px;
}
.ml_dg_list{
  list-style: none;
  padding-left: 40px !important;
}
.ml_dg_list a{
  font-size: 45.5px;
  color: #003741;
  text-decoration: none;
}




/*////////////////////////////////BASEMENT FLOORS SCREEN/////////////////////////////////*/
.dg_bf_screen{
  height: calc(100vh - 300px);
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.dg_bfc_row{
  height: calc(100vh - 500px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dg_bf_list{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dg_bf_list a{
  font-size: 70px;
  color: #C87E59;
  text-decoration: none;
}






/*////////////////////VIDEO SCREEN CSS////////////////////*/
.dg_vw_screen .sm_video_track_wrap{
  margin-top: 180px;
}